*{
    margin:0;
    padding:0;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
    position:fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h5{
    color: black;
    font-size: 18px;
}

/*Página de inicio*/

.inicio{
    background-image: url(../img/inicio.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 600px;
    animation-name: aparecer;
    animation-duration: 2s;
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }    
}

/*Página Nosotros*/

.caja{
    transition: 1s;  
}
.caja:hover{
    transform: scale(1.05);
}

/*Página contacto*/

.form{
    border-radius: 5px;
}

.textoForm{
    border-radius: 5px;
}

.btnForm{
    border-radius: 5px;
    background-color: rgba(147, 142, 125, 0.92);
}

.imgP{
    border-radius: 7px;
}

.imgP:hover{
    box-shadow: 0 0 2px 2px rgba(147, 142, 125, 0.92);
}

@media(max-width:560px){
    .inicio h2{
         display: none;
     }
}

$colores: (
    primario: #f3f3f3;
    secundario: black;
    terciario: rgb(54, 54, 54);

);


@mixin cardPersonalizada {
    background-color: map-get($map: $colores, $key: 'primario');
    border: 3px solid black;
    box-shadow: 0px 0px 10px rgb(54, 54, 54);
}

.caja{
    @include cardPersonalizada;
}

.productos {
    @extend .form;
}
